$colorOne: #333333;
$colorTwo: #d9d9d9;
$colorThree: #818181;
$colorFour: #7a934f;
$colorFive: #f2eeeb;
$colorSix: #58693a;
$colorSeven: #868686;
$colorEight: #575756;
$colorNine: #808080;
$colorTen: #e0e0e0;
$colorEleven: #4d4d4d;
$colorTwelve: #b5c775;
$colorThirteen: #999999;
$colorFourteen: #133215;
$colorFifteen: #f0f0f0;
$colorSixteen: #909090;
$colorSeventeen: #aaaaaa;
