.brand-page {
	// .brand-page__container

	&__container {
	}

	// .brand-page__unit

	&__unit {
		position: relative;
		@include adaptiv-value("margin-bottom", 50, 20, 1);
	}
	&__main-title {
		position: absolute;
		top: 50%;
		right: 15%;
		z-index: 1;
		transform: translate(0, -50%);
		color: #ffffff;
		@include adaptiv-value("font-size", 48, 24, 1);
		font-weight: 500;
		line-height: 105%;
		text-transform: uppercase;
		max-width: 265px;
	}
	// .brand-page__title

	&__title {
		margin-bottom: 20px;
	}

	// .brand-page__img

	&__img {
		padding: 0px 0px 40.55% 0px;
		border-radius: 5px;
	}

	// .brand-page__sub-title

	&__sub-title {
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		line-height: 120%;
		text-transform: uppercase;
		max-width: 410px;
		@include adaptiv-value("margin-bottom", 35, 20, 1);
	}
}
//========================================================================================================================================================

.tabs-brand-page {
	// .tabs-brand-page__container

	&__container {
		display: flex;
		flex-direction: column;
	}

	// .tabs-brand-page__wrapper

	&__wrapper {
	}

	// .tabs-brand-page__tabs

	&__tabs {
		display: flex;
		align-items: center;
		border-radius: 2px;
		background-color: #ffffff;

		text-align: center;
		@include adaptiv-value("margin-bottom", 30, 20, 1);
	}

	// .tabs-brand-page__tab

	&__tab {
		cursor: pointer;
		flex: 0 0 25%;
		color: $colorFour;
		font-weight: 500;
		text-transform: uppercase;
		overflow: hidden;
		position: relative;
		padding: 15px 0;
		&::before {
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background-color: $colorFour;
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			transform: translate(-100%, -50%);
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: all 0.3s ease;
		}
		&.active {
			&::before {
				transform: translate(-50%, -50%);
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
	}

	// .tabs-brand-page__content

	&__content {
	}

	// .tabs-brand-page__item

	&__item {
	}
	&__rounded {
		cursor: pointer;
		align-self: center;
		@include adaptiv-value("margin-top", 50, 20, 1);
		@include adaptiv-value("margin-bottom", 90, 50, 1);
		img {
			max-width: 100%;
		}
	}
}

.item-tabs-brand-page {
	// .item-tabs-brand-page__filter

	&__filter {
		@include adaptiv-value("margin-bottom", 40, 20, 1);
	}

	// .item-tabs-brand-page__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
	}

	// .item-tabs-brand-page__column

	&__column {
		flex: 0 0 25%;
		padding: 0px 15px;
	}
}
//========================================================================================================================================================

.other-brands {
	@include adaptiv-value("margin-bottom", 120, 50, 1);
	// .other-brands__container

	&__container {
	}

	// .other-brands__title

	&__title {
		@include adaptiv-value("margin-bottom", 60, 50, 1);
		max-width: 335px;
	}

	// .other-brands__wrapper

	&__wrapper {
		min-width: 0;
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100%;
	}

	// .other-brands__body

	&__body {
		display: flex;
		margin: 0px -15px;
		min-width: 0;
	}

	// .other-brands__item

	&__item {
		min-width: 0;
		flex: 0 0 25%;
		padding: 0px 15px;
	}
	&__scrollbar {
		position: relative;
		width: 100%;
		height: 1px;
		background-color: $colorEleven;
		margin-bottom: 30px;
	}
	&__drag-scroll {
		cursor: pointer;
		position: absolute;
		top: -3px;
		left: 0;
		background-color: $colorFour;
		height: 600%;
	}
}
.item-other-brands {
	// .item-other-brands__body

	&__body {
	}

	// .item-other-brands__img

	&__img {
		padding: 0px 0px 118.5% 0px;
		border-radius: 5px;
	}
}
//========================================================================================================================================================

.sale {
	@include adaptiv-value("margin-bottom", 140, 50, 1);
	// .sale__container

	&__container {
		position: relative;
	}

	// .sale__wrapper

	&__wrapper {
		min-width: 0;
		overflow: hidden;
		position: relative;
		height: 100%;
		display: flex;
		width: 100%;
	}

	// .sale__body

	&__body {
		display: flex;
		min-width: 0;
	}

	// .sale__item

	&__item {
		flex: 1 0 100%;
		position: relative;
		display: flex;
	}

	// .sale__controls

	&__controls {
		display: flex;
		position: absolute;
		@include adaptiv-value("bottom", 50, 20, 0);
		@include adaptiv-value("left", 175, 17, 1);
		align-items: flex-end;
		z-index: 2;
	}

	// .sale__button

	&__button {
		width: 46px;
		height: 46px;
		background-color: $colorFive;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		cursor: pointer;
		svg {
			path {
				transition: all 0.3s ease;
			}
		}
	}

	// .sale__button-prev

	&__button-prev {
		transform: rotate(180deg) translate(0, -1%);
		margin-right: 15px;
	}

	// .sale__button-next

	&__button-next {
		margin-right: 20px;
	}

	// .sale__scrollbar

	&__scrollbar {
		position: relative;
		width: 280px;
		height: 1px;
		background-color: #fff;
	}
	&__drag-scroll {
		position: absolute;
		top: -3px;
		left: 0;
		background-color: #fff;
		height: 600%;
	}
}
.item-sale {
	position: relative;
	// .item-sale__body

	&__body {
		position: relative;
		z-index: 1;
		@include adaptiv-value("padding-top", 95, 50, 1);
		@include adaptiv-value("padding-left", 160, 15, 1);
		@include adaptiv-value("padding-bottom", 190, 80, 1);
		@include adaptiv-value("padding-right", 50, 15, 1);
	}

	// .item-sale__title

	&__title {
		color: #ffffff;
		@include adaptiv-value("font-size", 48, 24, 1);
		font-weight: 500;
		line-height: 105%;
		text-transform: uppercase;
		max-width: 230px;
		@include adaptiv-value("margin-bottom", 30, 20, 1);
	}

	// .item-sale__link

	&__link {
	}

	// .item-sale__bg

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 5px;
	}
}
