.catalog {
	margin-bottom: 125px;
	// .catalog__container

	&__container {
	}

	// .catalog__filter

	&__filter {
		margin-bottom: 30px;
	}
	// .catalog__wrapper

	&__wrapper {
		display: flex;
	}

	// .catalog__side

	&__side {
		flex: 0 0 255px;
	}

	// .catalog__content

	&__content {
		flex: 1 1 auto;
		padding-left: 30px;
		display: flex;
		flex-direction: column;
	}
	// .catalog__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		@include adaptiv-value("margin-right", -14, -5, 1);
		@include adaptiv-value("margin-left", -14, -5, 1);
	}

	// .catalog__column

	&__column {
		flex: 0 0 33.333%;
		@include adaptiv-value("padding-right", 14, 5, 1);
		@include adaptiv-value("padding-left", 14, 5, 1);
		margin-bottom: 50px;
	}

	// .catalog__item

	&__item {
		height: 100%;
		cursor: pointer;
	}
	&__more {
		cursor: pointer;
	}
}
.form-filter {
	border-radius: 70px;
	background-color: $colorFourteen;
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
	&-brand-page{
		background-color: $colorFour;
	}
	// .form-filter__title

	&__title {
		color: #ffffff;
		@include adaptiv-value("font-size", 16, 14, 1);
		@include adaptiv-value("margin-right", 110, -50, 1);
	}

	// .form-filter__item

	&__item {
		display: flex;
		align-items: center;
		@include adaptiv-value("margin-right", 100, -50, 1);
	}

	// .form-filter__label

	&__label {
		color: #ffffff;
		margin-right: 10px;
	}

	// .form-filter__select

	&__select {
		&-find {
			color: $colorFourteen;
		}
		&-brand {
			color: $colorFourteen;
			text-transform: uppercase;
		}
	}
}

.side {
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 40px 25px 1px 25px;
	overflow: hidden;
	// .side__list

	&__list {
	}

	// .side__item

	&__item {
		margin-bottom: 35px;
	}

	// .side__link

	&__link {
		display: block;
		color: $colorEleven;
		display: flex;
		cursor: pointer;
		// .side__link-arrow
		&-arrow {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				border: solid $colorSixteen;
				border-width: 0 1px 1px 0;
				display: inline-block;
				padding: 3px;
				transform: rotate(-45deg);
				right: 0;
				top: 3px;
				transition: all 0.3s ease;
				cursor: pointer;
			}
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: -50%;
				width: 28px;
				height: 28px;
				background-color: $colorFour;
				transform: translate(0, -50%);
				border-radius: 50%;
				transition: all 0.3s ease;
			}
			&.active {
				color: $colorFour;
				&::after {
					transform: translate(0, -50%) rotate(45deg);
				}
				&::before {
					left: -20%;
				}
				svg {
					path {
						fill: $colorFour;
					}
				}
			}
		}
	}
	//.side__icon
	&__icon {
		margin-right: 20px;
	}

	// .side__sub-list

	&__sub-list {
		margin-top: 17px;
	}

	// .side__sub-item

	&__sub-item {
		margin-bottom: 11px;
	}

	// .side__sub-link

	&__sub-link {
		color: $colorEleven;
		transition: all 0.3s ease;
	}
}

.item-catalog {
	display: flex;
	flex-direction: column;
	transition: all 0.3s ease;
	padding: 8px;
	// .item-catalog__img

	&__img {
		padding: 0px 0px 78.57% 0px;
	}

	// .item-catalog__row

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .item-catalog__label

	&__label {
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		font-weight: 500;
		text-transform: uppercase;
	}
	p {
		// flex: 1 1 auto;
		color: $colorEleven;
		font-size: 12px;
		line-height: 130%;
		text-transform: uppercase;
		max-width: 185px;
		margin-bottom: 20px;
	}
	// .item-catalog__point

	&__point {
		width: 41px;
		height: 41px;
		background-color: #bc9876;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: #ffffff;
		font-size: 16px;
		font-weight: 500;
		span {
			font-size: 14px;
			display: inline-block;
			margin-bottom: -2px;
		}
	}

	// .item-catalog__price

	&__price {
		color: $colorOne;
		font-size: 20px;
		font-weight: 500;
		span {
			position: relative;
			padding-right: 12px;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				background: url("../img/icons/uah.svg") 0 0 / cover no-repeat;
				width: 12px;
				height: 12px;
			}
		}
	}

	// .item-catalog__link

	&__link {
		padding-left: 15px;
		padding-right: 15px;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}
