.contacts {
	@include adaptiv-value("margin-bottom", 85, 50, 1);

	// .contacts__row
	&__row {
		display: flex;
	}

	// .contacts__column
	&__column {
		&:first-child {
			flex: 0 0 33.333%;
		}
		flex: 1 1 auto;
	}

	// .contacts__sub-row
	&__sub-row {
		display: flex;
		justify-content: space-between;
	}

	// .contacts__sub-column
	&__sub-column {
		flex: 0 0 33.333%;
	}

	// .contacts__sub-title
	&__sub-title {
		color: $colorOne;
		text-transform: uppercase;
		margin-bottom: 2px;
	}

	// .contacts__label
	&__label {
		color: $colorNine;
		font-size: 12px;
		margin-bottom: 15px;
	}

	&__mail,
	&__phone,
	&__adress {
		display: block;
		color: $colorOne;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	// .contacts__map
	&__map {
		@include adaptiv-value("margin-top", 30, 20, 1);
		iframe {
			width: 100%;
			height: 500px;
			border-radius: 5px;
		}
	}
}
.form-contscts {
	@include adaptiv-value("margin-bottom", 65, 30, 1);

	// .form-contscts__row
	&__row {
		display: flex;
		margin: 0px -15px;
	}

	// .form-contscts__column
	&__column {
		flex: 0 0 50%;
		padding: 0px 15px;
	}

	// .form-contscts__item
	&__item {
		@include adaptiv-value("margin-bottom", 40, 20, 1);
		border-bottom: 1px solid #000;
	}

	// .form-contscts__input
	&__input {
		border-radius: 0 !important;
		border: none !important;
		width: 100%;
		background-color: transparent;
		padding-bottom: 5px;

		color: $colorOne;
		@include adaptiv-value("font-size", 15, 14, 1);
		text-transform: uppercase;
		&::placeholder {
			color: $colorThirteen;
			@include adaptiv-value("font-size", 15, 14, 1);
		}
	}

	// .form-contscts__textarea
	&__textarea {
		border-radius: 0 !important;
		border: none !important;
		width: 100%;
		resize: none;
		height: 120px;
		background-color: transparent;
		padding-bottom: 5px;
		color: $colorOne;
		@include adaptiv-value("font-size", 15, 14, 1);
		text-transform: uppercase;
		&::placeholder {
			color: $colorThirteen;
			@include adaptiv-value("font-size", 15, 14, 1);
		}
	}
}
