.page-news {
	// .page-news__img

	&__img {
		padding: 0px 0px 31% 0px;
		border-radius: 5px;
		margin-bottom: 20px;
	}

	// .page-news__wrapper

	&__wrapper {
		padding: 50px;
		background-color: #fff;
		border-radius: 5px;
	}

	// .page-news__row

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	// .page-news__label

	&__label {
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		position: relative;
		padding-left: 72px;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 44px;
			height: 44px;
			transform: translate(0, -50%);
			background: url("../img/icons/page-news-icon.svg") 0 0 / cover no-repeat;
		}
	}

	// .page-news__date

	&__date {
		color: $colorSeven;
	}

	// .page-news__sub-title

	&__sub-title {
		color: $colorOne;
		font-family: "Cera PRO";
		@include adaptiv-value("font-size", 36, 18, 1);
		font-weight: 500;
		margin-bottom: 30px;
	}
	p {
		color: $colorOne;
		font-size: 14px;
		line-height: 160%;
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 20, 10, 1);
		}
	}
	// .page-news__share

	&__share {
	}
}
.share {
	margin-top: 25px;
	margin-bottom: 90px;
	// .share__label
	display: flex;
	align-items: center;
	> *:not(:last-child) {
			@include adaptiv-value("margin-right", 30, 10, 1);
		}
	&__label {
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
	}

	// .share__facebook

	&__facebook {
		svg{
			path{
				transition: all 0.3s ease;
			}
		}
	}

	// .share__instagram

	&__instagram {
		svg{
			path{
				transition: all 0.3s ease;
			}
		}
	}
}
