.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	top: 0;
	left: 0;
	z-index: 50;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s ease;
	&.open {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
	}
	&__content {
		box-shadow: 2px 10px 25px rgba(51, 51, 51, 0.3);
		border-radius: 5px;
		background-color: #ffffff;
		position: relative;
	}
	&__close {
		position: absolute;
		right: 20px;
		top: 20px;
		z-index: 1;
		img {
			max-width: 100%;
		}
	}
}
//========================================================================================================================================================

.popup-reward {
	// .popup-reward__content
	&__content {
		@include adaptiv-value("padding-top", 50, 20, 1);
		@include adaptiv-value("padding-right", 50, 10, 1);
		@include adaptiv-value("padding-bottom", 50, 10, 1);
		@include adaptiv-value("padding-left", 50, 10, 1);
		max-width: 775px;
	}

	// .popup-reward__title
	&__title {
		color: $colorOne;
		@include adaptiv-value("font-size", 24, 20, 1);
		font-weight: 500;
		@include adaptiv-value("margin-bottom", 25, 20, 1);
	}

	// .popup-reward__label
	&__label {
		color: $colorOne;
		@include adaptiv-value("font-size", 18, 14, 1);
		font-weight: 500;
		margin-bottom: 15px;
	}
	p {
		color: $colorEleven;
		line-height: 144%;
		text-align: left;
		@include adaptiv-value("margin-bottom", 30, 15, 1);
	}
}
//========================================================================================================================================================

.popup-submit {
	// .popup-submit__content
	&__content {
		@include adaptiv-value("padding-top", 100, 50, 1);
		@include adaptiv-value("padding-right", 140, 30, 1);
		@include adaptiv-value("padding-bottom", 100, 30, 1);
		@include adaptiv-value("padding-left", 140, 30, 1);
		max-width: 590px;
	}

	// .popup-submit__btn
	&__btn {
		width: 250px;
		text-align: center;
		padding: 5px 0px;
	}
	&__divider {
		color: $colorEleven;
		text-align: center;
		@include adaptiv-value("margin-top", 20, 8, 1);
		@include adaptiv-value("margin-bottom", 20, 8, 1);
	}
}
//========================================================================================================================================================

.popup-authorization {
	// .popup-authorization__content
	&__content {
		@include adaptiv-value("padding-top", 50, 20, 1);
		@include adaptiv-value("padding-right", 60, 20, 1);
		@include adaptiv-value("padding-bottom", 70, 20, 1);
		@include adaptiv-value("padding-left", 60, 20, 1);
		max-width: 590px;
	}

	// .popup-authorization__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptiv-value("margin-top", 35, 20, 1);
		@include adaptiv-value("margin-bottom", 30, 20, 1);
	}

	// .popup-authorization__checkbox
	&__checkbox {
		display: none;
		&:checked + .popup-authorization__checkbox-label::after {
			transform: scale(1);
		}
	}

	// .popup-authorization__checkbox-label
	&__checkbox-label {
		color: $colorEleven;
		display: inline-flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		line-height: 120%;
		a {
			text-decoration: underline;
			color: $colorFour;
			display: inline-block;
			margin: 0px 5px;
		}
		&::before {
			content: "";
			flex: 0 0 16px;
			width: 16px;
			height: 16px;
			background-color: #fff;
			border: 1px solid $colorTwelve;
			border-radius: 2px;
			align-self: flex-start;
			margin-right: 10px;
		}
		&::after {
			content: "";
			position: absolute;
			width: 12px;
			height: 12px;
			top: 2px;
			left: 2px;
			background: url("../img/icons/checkbox.svg") 0 0 / cover no-repeat;
			z-index: 1;
			transform: scale(0);
			transition: all 0.3s ease;
		}
	}

	// .popup-authorization__link
	&__link {
		color: $colorOne;
		font-weight: 500;
	}

	// .popup-authorization__question
	&__question {
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		text-align: center;
		@include adaptiv-value("padding-top", 35, 20, 1);
		border-top: 1px solid $colorThirteen;
		@include adaptiv-value("margin-bottom", 25, 20, 1);
	}

	// .popup-authorization__registration
	&__registration {
		color: $colorTwelve;
		text-decoration: underline;
		text-align: center;
		display: block;
	}
}
//========================================================================================================================================================
.popup-reset {
	// .popup-reset__content
	&__content {
		@include adaptiv-value("padding-top", 50, 20, 1);
		@include adaptiv-value("padding-right", 60, 20, 1);
		@include adaptiv-value("padding-bottom", 70, 20, 1);
		@include adaptiv-value("padding-left", 60, 20, 1);
		width: 450px;
	}

	// .popup-reset__title
	&__title {
		color: $colorOne;
		@include adaptiv-value("font-size", 24, 20, 1);
		text-align: center;
		@include adaptiv-value("margin-bottom", 25, 20, 1);
	}

	// .popup-reset__form
	&__form {
		display: flex;
		flex-direction: column;
	}

	// .popup-reset__item
	&__item {
		@include adaptiv-value("margin-bottom", 30, 20, 1);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, 20%);
			width: 16px;
			height: 15px;
			left: 12px;
			background: url("../img/icons/mail-icon.svg") 0 0 / cover no-repeat;
		}
	}

	// .popup-reset__label
	&__label {
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		display: block;
		margin-bottom: 5px;
	}

	// .popup-reset__input
	&__input {
		border-radius: 2px;
		border: 1px solid $colorEighteen;
		background-color: #ffffff;
		width: 100%;
		padding: 15px 20px 15px 40px;
		color: $colorOne;
		display: block;
		&::placeholder {
			color: $colorEleven;
		}
	}

	// .popup-reset__btn
	&__btn {
		align-self: center;
	}
}
//========================================================================================================================================================
.popup-registration {
	// .popup-registration__content
	&__content {
		@extend .popup-reset__content;
	}

	// .popup-registration__title
	&__title {
		@extend .popup-reset__title;
	}

	// .popup-registration__form
	&__form {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid #e0e0e0;
		@include adaptiv-value("padding-bottom", 35, 20, 1);
	}

	// .popup-registration__item
	&__item {
		@include adaptiv-value("margin-bottom", 30, 20, 1);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 40px;
			left: 0;
			width: 14px;
			height: 14px;
			left: 12px;
			background: url("../img/icons/phone-icon.svg") 0 0 / cover no-repeat;
		}
		&-sms {
			&::before {
				display: none;
			}
		}
		label.error {
			color: red;
		}
	}

	// .popup-registration__label
	&__label {
		@extend .popup-reset__label;
	}

	// .popup-registration__input
	&__input {
		@extend .popup-reset__input;
		&-sms {
			padding: 15px 20px;
		}
		&.error {
			border: 1px solid red;
		}
	}

	// .popup-registration__btn
	&__btn {
		align-self: center;
	}

	// .popup-registration__question
	&__question {
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		text-align: center;
		@include adaptiv-value("margin-top", 25, 20, 1);
		@include adaptiv-value("margin-bottom", 25, 20, 1);
	}

	// .popup-registration__link
	&__link {
		display: block;
		color: $colorTwelve;
		text-align: center;
		text-decoration: underline;
	}
}
//========================================================================================================================================================

.popup-info {
	// .popup-info__content
	&__content {
		box-shadow: none;
		border-radius: 0px;
		background-color: transparent;
		position: relative;
		max-width: 775px;
	}

	// .popup-info__item-top
	&__item-top {
		@include adaptiv-value("padding-top", 50, 40, 1);
		@include adaptiv-value("padding-right", 80, 10, 1);
		@include adaptiv-value("padding-bottom", 50, 10, 1);
		@include adaptiv-value("padding-left", 80, 10, 1);
		margin-bottom: 10px;
		box-shadow: 2px 10px 25px rgba(51, 51, 51, 0.3);
		border-radius: 5px;
		background-color: #ffffff;
		position: relative;
	}

	&__item-bottom {
		@include adaptiv-value("padding-top", 50, 20, 1);
		@include adaptiv-value("padding-right", 45, 10, 1);
		@include adaptiv-value("padding-bottom", 90, 60, 1);
		@include adaptiv-value("padding-left", 45, 10, 1);
		margin-bottom: 10px;
		box-shadow: 2px 10px 25px rgba(51, 51, 51, 0.3);
		border-radius: 5px;
		background-color: #ffffff;
		position: relative;
	}
}
.item-top-popup-info {
	// .item-top-popup-info__title
	&__title {
		color: $colorOne;
		@include adaptiv-value("font-size", 24, 20, 1);
		text-align: center;
		@include adaptiv-value("margin-bottom", 35, 20, 1);
	}

	// .item-top-popup-info__row
	&__row {
		display: flex;
		margin: 0px -5px;
		flex-wrap: wrap;
	}

	// .item-top-popup-info__column
	&__column {
		flex: 0 0 33.333%;
		padding: 0px 5px;
		@include adaptiv-value("margin-bottom", 25, 20, 1);
	}
}
.item-status {
	// .item-status__row
	&__row {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	// .item-status__number
	&__number {
		flex: 0 0 35px;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: $colorTwelve;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 16px;
		@include adaptiv-value("font-size", 16, 14, 1);
		font-weight: 500;
		margin-right: 8px;
		&-gray {
			background-color: $colorSeventeen;
		}
	}

	// .item-status__line
	&__line {
		flex: 1 1 auto;
		height: 4px;
		background-color: $colorTwelve;
		&-gray {
			background-color: $colorSeventeen;
		}
	}

	// .item-status__label
	&__label {
		color: $colorOne;
		margin-bottom: 10px;
	}

	// .item-status__date
	&__date {
		color: $colorSeven;
	}
}

.item-bottom-popup-info {
	display: flex;
	flex-direction: column;

	// .item-bottom-popup-info__title
	&__title {
		@extend .item-top-popup-info__title;
		margin-bottom: 13px;
	}

	// .item-bottom-popup-info__id
	&__id {
		color: $colorOne;
		@include adaptiv-value("font-size", 20, 16, 1);
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		@include adaptiv-value("margin-bottom", 45, 20, 1);
	}

	// .item-bottom-popup-info__row
	&__row {
		display: flex;
		margin: 0px -5px;
	}

	// .item-bottom-popup-info__column
	&__column {
		flex: 0 0 50%;
		padding: 0px 5px;
	}

	// .item-bottom-popup-info__values
	&__values {
		display: flex;
		align-items: center;
		@include adaptiv-value("margin-bottom", 15, 10, 1);
	}

	// .item-bottom-popup-info__label
	&__label {
		color: $colorSeven;
		margin-right: 5px;
	}

	// .item-bottom-popup-info__value
	&__value {
		color: $colorOne;
		font-weight: 500;
	}

	// .item-bottom-popup-info__buttons
	&__buttons {
		align-self: center;
		@include adaptiv-value("margin-top", 60, 20, 1);
	}

	// .item-bottom-popup-info__link
	&__link {
		width: 200px;
		text-align: center;
		margin-right: 5px;
		&:last-child {
			margin: 0;
		}
	}

	// .item-bottom-popup-info__print
	&__print {
		color: $colorOne;
		text-decoration: underline;
		position: absolute;
		right: 40px;
		bottom: 30px;
		padding-left: 30px;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			background: url("../img/icons/gray-print-icon.svg") 0 0 / cover no-repeat;
			width: 21px;
			height: 21px;
		}
	}
}
//========================================================================================================================================================
.popup-edit-order {
	// .popup-edit-order__content
	&__content {
		padding-top: 40px;
		@include adaptiv-value("padding-right", 25, 20, 1);
		@include adaptiv-value("padding-bottom", 60, 20, 1);
		@include adaptiv-value("padding-left", 25, 20, 1);
		width: 775px;
	}

	// .popup-edit-order__title
	&__title {
		color: $colorOne;
		@include adaptiv-value("font-size", 24, 20, 1);
		text-align: center;
		@include adaptiv-value("margin-bottom", 45, 20, 1);
	}
}
.form-edit-order {
	display: flex;
	flex-direction: column;

	// .form-edit-order__row
	&__row {
		display: flex;
		margin: 0px -7px;
	}

	// .form-edit-order__column
	&__column {
		flex: 0 0 50%;
		padding: 0px 7px;
	}

	// .form-edit-order__item
	&__item {
		@include adaptiv-value("margin-bottom", 25, 20, 1);
		&-margin {
			margin-bottom: 6px;
		}
	}

	// .form-edit-order__label
	&__label {
		display: block;
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		margin-bottom: 7px;
	}

	// .form-edit-order__input
	&__input {
		border-radius: 2px;
		border: 1px solid #c4c4c4;
		background-color: #ffffff;
		width: 100%;
		height: 100%;
		padding: 15px 20px;
		&::placeholder {
			color: #999999;
			font-weight: 300;
		}
	}

	// .form-edit-order__wrapper
	&__wrapper {
		border: 1px solid #c4c4c4;
		padding-top: 15px;
		padding-right: 15px;
		@include adaptiv-value("padding-bottom", 40, 15, 1);
		padding-left: 15px;
		border-radius: 2px;
		.form-edit-order__input {
			border-radius: 2px;
			background-color: #f8f8f8;
			border: none;
			&::placeholder {
				color: $colorEight;
				font-weight: 400;
				font-size: 14px;
			}
		}
		.form-edit-order__item {
			margin-bottom: 15px;
			&-margin {
				margin-bottom: 6px;
			}
		}
	}
	&__address-delivery {
		padding-top: 8px;
		border-top: 1px solid #c4c4c4;
		&-address {
			display: none;
		}
		&-curier {
			display: none;
		}
		&.active {
			display: block;
		}
	}

	// .form-edit-order__radio
	&__radio {
		display: none;
		&:checked + .form-edit-order__radio-label::after {
			transform: scale(1);
		}
	}

	// .form-edit-order__radio-label
	&__radio-label {
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		display: inline-flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		line-height: 120%;
		&::before {
			content: "";
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			background-color: #fff;
			border: 1px solid $colorTwelve;
			border-radius: 50%;
			align-self: flex-start;
			margin-right: 15px;
		}
		&::after {
			content: "";
			position: absolute;
			width: 12px;
			height: 12px;
			top: 4px;
			left: 4px;
			background-color: $colorTwelve;
			z-index: 1;
			transform: scale(0);
			transition: all 0.3s ease;
			border-radius: 50%;
		}
	}

	// .form-edit-order__button
	&__button {
		align-self: center;
		@include adaptiv-value("margin-top", 55, 20, 1);
	}
}

//========================================================================================================================================================

