.product-card {
	margin-bottom: 35px;

	// .product-card__row
	&__row {
		display: flex;
		margin: 0px -15px;
	}

	// .product-card__column
	&__column {
		&:first-child {
			flex: 0 0 40%;
			min-width: 0;
		}
		flex: 1 1 auto;
		padding: 0px 15px;
	}

	// .product-card__sliders
	&__sliders {
		height: 100%;
	}

	// .product-card__body
	&__body {
		background-color: #fff;
		border-radius: 5px;
		padding-top: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
		padding-left: 20px;
		height: 100%;
	}

	// .product-card__list
	&__list {
	}

	// .product-card__item
	&__item {
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		line-height: 160%;
	}
	&__item-point {
		color: $colorTwenty;
		border-radius: 5px;
		background-color: #fafafa;
		display: inline-block;
		padding-top: 15px;
		padding-right: 55px;
		padding-bottom: 15px;
		padding-left: 95px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 51px;
			height: 42px;
			z-index: 1;
			background: url("../img/icons/product-card-icon.svg") 0 0 / cover no-repeat;
		}
	}

	// .product-card__description
	&__description {
		padding-left: 25px;
		margin-top: 20px;
		margin-bottom: 25px;
	}

	// .product-card__label
	&__label {
		font-weight: 500;
		color: $colorTwelve;
		line-height: 160%;
		text-decoration: underline;
	}

	// .product-card__descr
	&__descr {
		color: $colorOne;
		line-height: 160%;
	}

	// .product-card__sub-row
	&__sub-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiv-value("margin-top", 30, 20, 1);
		margin-bottom: 20px;
	}

	// .product-card__sub-column
	&__sub-column {
		flex: 0 0 50%;
		&:first-child {
			display: flex;
			align-items: center;
		}
	}

	// .product-card__price
	&__price {
		color: $colorOne;
		@include adaptiv-value("font-size", 32, 20, 1);
		font-weight: 500;
		margin-right: 25px;
	}

	// .product-card__old-price
	&__old-price {
		color: $colorEighteen;
		@include adaptiv-value("font-size", 28, 20, 1);
		text-decoration: line-through;
	}
}
.slider-product-card {
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;

	// .slider-product-card__body
	&__body {
		display: flex;
	}

	// .slider-product-card__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 5px;
		background-color: #fff;
		&-video {
			position: relative;
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				transition: all 0.3s ease;
			}
			&::before {
				width: 40px;
				height: 40px;
				z-index: 2;
				background: url("../img/play-video.webp") 0 0 / contain no-repeat;
			}
			&::after {
				border-radius: 5px;
				width: 100%;
				height: 100%;
				z-index: 1;
				background: rgba(42, 42, 42, 0.4);
			}
		}
		&.swiper-slide-thumb-active {
			.slider-product-card__image {
				border: 2px solid $colorEighteen;
				border-radius: 5px;
			}
		}
	}
	&__image {
		position: relative;
		height: 100%;
		width: 100%;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}
	&__video {
		height: 100%;
		width: 100%;
		iframe {
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
	}
}
.main-slider-product-card {
	height: 73.5%;
	width: 100%;
}
.sub-slider-product-card {
	height: 20%;
	margin-top: 30px;
	.swiper-slide {
		width: 25%;
		height: 100%;
	}
}
.quantity-product-card {
	display: flex;
	align-items: center;
	> *:not(:last-child) {
		@include adaptiv-value("margin-right", 30, 10, 1);
	}

	// .quantity-product-card__label
	&__label {
		color: $colorEighteen;
	}
	&__button {
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background-color: $colorTwentyOne;
		cursor: pointer;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}

	// .quantity-product-card__button-minus
	&__button-minus {
		&::before {
			width: 10px;
			height: 2px;
			background-color: #fff;
		}
	}

	// .quantity-product-card__input
	&__input {
		width: 15px;
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		input{
			width: 100%;
		}
	}

	// .quantity-product-card__button-plus
	&__button-plus {
		&::before {
			width: 10px;
			height: 2px;
			background-color: #fff;
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			height: 10px;
			width: 2px;
			background-color: #fff;
		}
	}
}
//========================================================================================================================================================

.product-tabs {
	@include adaptiv-value("margin-bottom", 80, 50, 1);

	// .product-tabs__wrapper
	&__wrapper {
		background-color: #fff;
		border-radius: 5px;
		padding-top: 40px;
		padding-right: 45px;
		padding-bottom: 60px;
		padding-left: 45px;
	}

	// .product-tabs__tabs
	&__tabs {
		display: flex;
		align-items: center;
		@include adaptiv-value("margin-bottom", 65, 30, 1);
		position: relative;
		> *:not(:last-child) {
			@include adaptiv-value("margin-right", 300, 17, 1);
		}
		&::before {
			content: "";
			position: absolute;
			bottom: -14px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #dadada;
		}
	}

	// .product-tabs__tab
	&__tab {
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		text-transform: uppercase;
		position: relative;
		cursor: pointer;
		&.active {
			&::before {
				content: "";
				position: absolute;
				bottom: -15px;
				left: 0;
				width: 100%;
				height: 4px;
				background-color: $colorTwelve;
			}
		}
	}

	// .product-tabs__item
	&__item {
		> *:not(:last-child) {
			@include adaptiv-value("margin-bottom", 30, 10, 1);
		}
		p {
			color: $colorOne;
			line-height: 160%;
			span {
				font-weight: 700;
			}
		}
		h2 {
			color: $colorOne;
			@include adaptiv-value("font-size", 20, 16, 1);
			font-weight: 500;
		}
	}
}
//========================================================================================================================================================

.similar {
	@include adaptiv-value("margin-bottom", 115, 50, 1);

	// .similar__title
	&__title {
		@include adaptiv-value("margin-bottom", 45, 20, 1);
	}

	// .similar__scrollbar
	&__scrollbar {
		position: relative;
		width: 100%;
		height: 1px;
		background-color: $colorEleven;
		margin-bottom: 30px;
	}
	&__drag-scroll {
		cursor: pointer;
		position: absolute;
		top: -3px;
		left: 0;
		background-color: $colorFour;
		height: 600%;
	}

	// .similar__row
	&__row {
		display: flex;
	}

	// .similar__column
	&__column {
		&:first-child {
			flex: 0 0 320px;
			padding-right: 30px;
			min-width: 0;
			position: relative;
			z-index: 2;
		}
		flex: 1 1 auto;
	}

	// .similar__img
	&__img {
		padding: 0px 0px 100% 0px;
		border-radius: 5px;
		height: 100%;
	}

	// .similar__wrapper
	&__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		min-width: 0;
	}

	// .similar__body
	&__body {
		min-width: 0;
		display: flex;
		margin: 0px -15px;
	}

	// .similar__item
	&__item {
		flex: 0 0 320px;
		padding: 0px 15px;
	}
}
.item-similar {
	display: flex;
	flex-direction: column;

	// .item-similar__img
	&__img {
		padding: 0px 0px 76.74% 0px;
	}

	// .item-similar__row
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .item-similar__label
	&__label {
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		font-weight: 500;
		text-transform: uppercase;
	}
	p {
		flex: 1 1 auto;
		color: $colorEleven;
		font-size: 12px;
		line-height: 130%;
		text-transform: uppercase;
		max-width: 185px;
		margin-bottom: 20px;
	}

	// .item-similar__point
	&__point {
		width: 41px;
		height: 41px;
		background-color: #bc9876;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: #ffffff;
		font-size: 16px;
		font-weight: 500;
		span {
			font-size: 14px;
			display: inline-block;
			margin-bottom: -2px;
		}
	}

	// .item-similar__price
	&__price {
		color: $colorOne;
		font-size: 20px;
		font-weight: 500;
		span {
			position: relative;
			padding-right: 12px;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				background: url("../img/icons/uah.svg") 0 0 / cover no-repeat;
				width: 12px;
				height: 12px;
			}
		}
	}
}
//========================================================================================================================================================

.testimonials {
	@include adaptiv-value("margin-bottom", 125, 50, 1);

	// .testimonials__container
	&__container {
		max-width: 855px;
		padding: 0px 15px;
		margin: 0px auto;
		display: flex;
		flex-direction: column;
	}
	&__unit {
		position: relative;
		@include adaptiv-value("margin-bottom", 35, 20, 1);
	}

	// .testimonials__sub-title
	&__sub-title {
		text-align: center;
		color: $colorOne;
		@include adaptiv-value("font-size", 16, 14, 1);
		margin-bottom: 15px;
	}

	// .testimonials__title
	&__title {
		text-align: center;
		color: $colorOne;
		@include adaptiv-value("font-size", 24, 16, 1);
		font-weight: 500;
		text-transform: uppercase;
		@include adaptiv-value("margin-bottom", 45, 20, 1);
	}

	// .testimonials__wrapper
	&__wrapper {
		position: relative;
		overflow: hidden;
		height: 650px;
	}

	// .testimonials__body
	&__body {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
	}

	&__scroll {
		position: absolute;
		top: 0;
		right: -15px;
		width: 6px;
		height: 95%;
	}
	&__drag-scroll {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 100px;
		background-color: #999999;
		cursor: pointer;
	}
	&__rounded {
		align-self: center;
	}
}
.item-testimonials {
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 12px;
	padding-top: 20px;
	padding-right: 25px;
	padding-bottom: 30px;
	padding-left: 25px;

	// .item-testimonials__date
	&__date {
		color: $colorEighteen;
		margin-bottom: 5px;
	}

	// .item-testimonials__name
	&__name {
		color: $colorOne;
		@include adaptiv-value("font-size", 18, 14, 1);
		font-weight: 500;
		margin-bottom: 5px;
	}
	&__text {
		color: $colorEleven;
		line-height: 140%;
		&-more {
			display: none;
		}
	}

	// .item-testimonials__more
	&__more {
		color: $colorFour;
		font-weight: 500;
		margin-bottom: 20px;
		cursor: pointer;
	}

	// .item-testimonials__label
	&__label {
		color: $colorEight;
		font-size: 12px;
	}
}
