@media (any-hover: hover) {
	.sale {
		&__button{
			&:hover {
				svg {
					path {
						fill: #9c9a8d;
					}
				}
			}
		}
	}
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
	.item-tabs-brand-page {
		&__row {
			margin: 0px -7px;
		}
		&__column {
			flex: 0 0 33.333%;
			padding: 0px 7px;
		}
		&__filter {
			.form-filter__item {
				margin-bottom: 0;
			}
		}
	}
	.tabs-brand-page {
		&__tabs {
			flex-wrap: wrap;
		}
		&__tab {
			flex: 0 0 50%;
		}
	}
	.other-brands {
		&__body {
			margin: 0px -7px;
		}
		&__item {
			padding: 0px 7px;
		}
	}
}

@media (max-width: 575.98px) {
	.item-tabs-brand-page {
		&__column {
			flex: 0 0 50%;
		}
	}
	.other-brands {
		&__scrollbar {
			display: none;
		}
	}
	.sale {
		&__container {
			padding: 0;
		}
		&__button {
			width: 30px;
			height: 30px;
		}
		&__button-prev {
			transform: rotate(180deg) translate(0, 2%);
		}
		&__scrollbar {
			width: 180px;
		}
	}
	.item-sale {
		&__bg {
			border-radius: 0px;
		}
	}
}
@media (max-width: 400.98px) {
	.tabs-brand-page {
		&__tab {
			flex: 1 1 100%;
		}
	}
	.other-brands {
		&__item {
			flex: 0 0 50%;
		}
	}
}
