@media (any-hover: hover) {
}

@media (max-width: 767.98px) {
	.ordering {
		&__container {
			padding: 0;
		}
		&__row{
			flex-wrap: wrap;
			margin: 0;
		}
		&__column{
			padding: 0;
			flex: 1 1 100%;
			&:first-child{
				margin-bottom: 20px;
			}
		}
	}
	.shopper-ordering,
	.payments-ordering,
	.delivery-ordering {
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 0px;
	}
	.shopper-ordering{
		&__you-can{
			padding-left: 10px;
			padding-right: 10px;
			line-height: 130%;
		}
	}
}