@media (any-hover: hover) {
	.slider-product-card {
		&__item {
			&-video {
				&:hover {
					&::before,
					&::after {
						opacity: 1;
						visibility: visible;
						pointer-events: all;
					}
				}
			}
		}
	}
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
	.product-card {
		&__row {
			margin: 0px -7px;
		}
		&__column {
			padding: 0px 7px;
			&:first-child {
				flex: 0 0 30%;
			}
		}
	}
	.sub-slider-product-card {
		.swiper-slide {
			width: 33.333%;
		}
	}
}

@media (max-width: 767.98px) {
	.product-card {
		&__row {
			margin: 0px;
			flex-wrap: wrap;
		}
		&__column {
			padding: 0px;
			flex: 1 1 100%;
			&:first-child {
				flex: 1 1 100%;
				margin-bottom: 30px;
			}
		}
		&__sliders {
			height: 500px;
		}
	}
	.sub-slider-product-card {
		.swiper-slide {
			width: 16.667%;
		}
	}
	.product-tabs {
		&__tab {
		}
	}
	.similar {
		&__wrapper{
			overflow: hidden;
		}
		&__column {
			&:first-child {
				padding-right: 15px;
				flex: 0 0 200px;
			}
		}
		&__item {
			flex: 0 0 200px;
		}
	}
	.item-similar {
		&__link {
			font-size: 9px;
			padding-left: 7px;
			padding-right: 7px;
		}
		&__price {
			font-size: 14px;
			display: flex;
			span {
				&::before {
					width: 9px;
					height: 9px;
					right: 3px;
				}
			}
		}
		&__point {
			width: 35px;
			height: 35px;
		}
	}
}

@media (max-width: 575.98px) {
	.product-card {
		&__sliders {
			height: 350px;
		}
		&__sub-row {
			flex-wrap: wrap;
		}
		&__sub-column {
			flex: 1 1 100%;
			&:first-child {
				margin-bottom: 20px;
			}
		}
	}
	.product-tabs {
		&__wrapper {
			padding-top: 30px;
			padding-left: 12px;
			padding-bottom: 40px;
			padding-right: 15px;
		}
	}
	.similar{
		&__column {
			&:first-child {
				display: none;
			}
		}
		&__item {
			flex: 0 0 200px;
		}
		&__scrollbar {
			display: none;
		}
		&__body {
			margin: 0px -7.5px;
		}
		&__item {
			padding: 0px 7.5px;
		}
	}
}
@media (min-width: 767.98px) {
	.product-tabs {
		&__tabs {
			> *:not(:last-child) {
				margin-right: 0;
			}
		}
		&__tab {
			flex: 0 0 33.333%;
			&.active {
				&::before {
					width: 92px;
				}
			}
		}
	}
}
