@import "base/variables";
@import "base/mixins";
@import "base/null.scss";
@import "base/fonts";
@import "base/links";
@import "base/btn";

* {
	font-family: "Cera Pro";
	margin: 0;
	padding: 0;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
body.lock {
	overflow: hidden;
	transition: all 1s ease;
	&::before {
		content: "";
		background: rgba(217, 217, 217, 0.9);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 5;
		transition: all 1s ease;
	}
}
.container {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
	&-right {
		padding-left: calc((100% - 1140px) / 2 + 15px);
	}
	&-left {
		padding-right: calc((100% - 1140px) / 2);
	}
}
.page {
	background-color: #fafafa;
	flex: 1 1 auto;
	&__box {
	}

	&__main {
	}
	&__our-brands {
	}
	&__top {
	}
	&__your {
	}
	&__partners {
	}
	&__charity {
	}
	&__news {
	}

	&__cards {
	}

	&__catalog {
	}

	&__page-news {
	}

	&__about-company-page {
	}

	&__about-product-page {
	}

	&__about-production-page {
	}

	&__business {
	}

	&__volunteer {
	}

	&__contacts {
	}

	&__programs {
	}

	&__weight {
	}

	&__product-card {
	}
	&__product-tabs {
	}
	&__similar {
	}
	&__testimonials {
	}

	&__brand-page {
	}
	&__brand-page-tabs {
	}
}
@import "blocks/header";
@import "blocks/main";
@import "blocks/store";
@import "blocks/catalog";
@import "blocks/pageNews";
@import "blocks/aboutCompanyPage";
@import "blocks/aboutProductPage";
@import "blocks/aboutProductionPage";
@import "blocks/business";
@import "blocks/volunteer";
@import "blocks/contacts";
@import "blocks/programs";
@import "blocks/weight";
@import "blocks/productCard";
@import "blocks/brandPage";
@import "blocks/footer";

@import "media/header_media";
@import "media/main_media";
@import "media/store_media";
@import "media/catalog_media";
@import "media/pageNews_media";
@import "media/aboutCompanyPage_media";
@import "media/aboutProductPage_media";
@import "media/aboutProductionPage_media";
@import "media/business_media";
@import "media/volunteer_media";
@import "media/contacts_media";
@import "media/programs_media";
@import "media/weight_media";
@import "media/productCard_media";
@import "media/brandPage_media";
@import "media/footer_media";
